{
  "branches": [
    {
      "name": "main",
      "prerelease": true
    },
    {
      "name": "release/v+([0-9])?(.{+([0-9]),x}).x",
      "prerelease": false
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/git"
  ]
}