{
  "branches": [
    {
      "name": "main",
      "prerelease": true
    },
    {
      "name": "release/**",
      "prerelease": false
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator"
  ]
}