{
  "branches": [
    {
      "name": "release/**",
     "range": "${name.replace(/^release\\//, '')}.x",
      "prerelease": false
    },
    {
      "name": "main",
      "prerelease": true
    }

  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github"
  ]
}